.notification{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    width: 500px;
    justify-content: space-between;
    font-size: 13px;
}
.notification span {
    cursor: pointer;
    font-size: 13px;

}
.notification img{
    width: 20px;
    margin-right: 10px;
}
.notification div {
    display: flex;
}